<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>403 error page</title>
</head>
<body>
<center>
    <br>
    <fieldset style="width:500px">
        <h3 align="center">Error 403<br>
            Access Denied – You don’t have permission to access this page.</h3>
        <p align="center">Please go back to your personal page</p>
        <br>
        <a th:href="@{/pageInConstruction}"><button style="float: center;">Back to "page in construction"</button></a>
    </fieldset>
</center>
</body>
</html>