<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Articles</title>
</head>
<body>
<div class="container my-2">
  <center>
    <fieldset style="width:700px">
      <h1 align="center">Page under construction</h1>
      <div>
        <a th:href="@{'/users'}"><button style="float: right">Go to users list</button></a>
        <form th:action="@{/logout}" method="post">
          <button type="submit" style="float: center">Sign Out</button>
        </form>
      </div>
    </fieldset>
  </center>
  <br />
    <h4 align="center">Page under construction</h4>
  <table border="1" class="table table-striped table-responsive-md" align="center">

  </table>
</div>
</body>
</html>