<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Welcome page</title>
  <link rel="stylesheet" href="css/wellcome.css">
</head>
<div class="title">KINDEREL</div>
<div class="links" align="right">
  <a href="/register" style="color:white">Registration</a>
  <a href="/login" style="color:white">Login</a>
</div>
<body>
  <div class="colors">
    <div class="col">
      <div class="text">
        <h3>Welcome to your app!</h3><br />
        <p>Enjoy this journey and learn together <br />with other parents!</p>
      </div>
      <div class="image1">
        <img src="/images/img1.JPG" width="300" height="200"/>
      </div>
      <div class="image2">
        <img src="/images/img2.JPG" width="300" height="200"/>
      </div>
    </div>
  </div>
</body>
</html>